@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-size: "Roboto", sans-serif;
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 1000px;
    max-width: 100%;
}

header {
    background-image: url(images/banner.jpg);
    background-size: cover;
    height: 300px;
}